# Watch Configuration
WATCH_DIR=C:\Users\HP\Downloads\kindle
KINDLE_EMAIL=mail@kindle.com

# SMTP Configuration (For sending the email)
# If using Gmail, use an App Password (https://myaccount.google.com/apppasswords)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_SECURE=true

# Processing is internally handled (moves to 'done' subfolder and log to activity.log)
